html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1a1a1a;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

.introduction,
.skills,
.about,
.contact {
  height: 100%;
  background-repeat: no-repeat;
  background-position-y: 11%;
  background-position-x: 2.2rem;
  background-size: 100% auto;
}

.introduction {
  background-image: url(../img/bg1.png);
}

.skills,
.contact {
  background-color: #272727;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
  background-image: url(../img/bg2.png);
}

.about {
  background-image: url(../img/bg2.png);
}

.introduction-container,
.skills-container,
.about-container,
.contact-container {
  height: 100%;
  width: 70%;
  margin: auto;
  padding: 0;
}

nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  color: #606060;
}

.nav-links a:hover {
  filter: drop-shadow(0px 0px 1px #666666) brightness(250%);
}

.grid-container-1 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 20px;
}

.item-1 {
  grid-column: 1/8;
  grid-row: 1/3;
}

.item-2 {
  grid-column: 1/4;
  grid-row: 3/11;
}

.item-3 {
  grid-column: 4/7;
  grid-row: 3/7;
}

.item-4 {
  grid-column: 7/8;
  grid-row: 3/7;
}

.item-5 {
  grid-column: 4/8;
  grid-row: 7/11;
}

.grid-container-2 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.item-2-1 {
  grid-column: 1/10;
  grid-row: 1/2;
}

.item-2-2 {
  grid-column: 1/2;
  grid-row: 2/5;
}

.item-2-3 {
  grid-column: 2/5;
  grid-row: 2/4;
}

.item-divider {
  grid-column: 5/6;
  grid-row: 2/4;
  text-align: center;
}

.item-2-4 {
  grid-column: 6/9;
  grid-row: 2/4;
}

.item-2-5 {
  grid-column: 9/10;
  grid-row: 2/5;
}
.item-2-6 {
  grid-column: 2/5;
  grid-row: 4/6;
}
.item-2-7 {
  grid-column: 6/9;
  grid-row: 4/6;
}

.grid-container-3 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;
}

.item-3-1 {
  grid-column: 1/10;
  grid-row: 1/3;
}

.item-3-2 {
  grid-column: 1/8;
  grid-row: 3/6;
}

.item-3-3 {
  grid-column: 1/8;
  grid-row: 6/8;
}

.item-3-4 {
  grid-column: 8/10;
  grid-row: 3/6;
  text-align: right;
}

.item-3-5 {
  grid-column: 8/10;
  grid-row: 6/8;
  text-align: right;
}

.grid-container-4 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
}

.item-4-1 {
  grid-column: 1/10;
  grid-row: 1/2;
}

.item-4-2 {
  grid-column: 1/7;
  grid-row: 2/5;
}

.item-4-3 {
  grid-column: 1/4;
  grid-row: 5/6;
}

.item-4-4 {
  grid-column: 4/10;
  grid-row: 5/6;
}

.item-2 img {
  border-radius: 150px;
  border-color: white;
  border-width: 10px;
  filter: drop-shadow(0px 0px 10px #141414);
  position: relative;
  top: -2vh;
}

.item-3 {
  margin-left: 2vw;
}

.text1-1 {
  margin-top: 2vh;
  font-size: 1.6rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
}

.text1-2 {
  font-size: 2.2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 3vh;
}

.bar1-1 {
  width: 70px;
  height: 4px;
  background: #ffc25c;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
  margin-bottom: 3vh;
}
.text1-3 {
  font-size: 1.6rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
}

.ext-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 12vw;
  margin: 0;
  border: 0;
}

.ext-links li {
  padding-bottom: 1vh;
}

.ext-links li img:hover {
  filter: drop-shadow(0px 0px 1px #666666) brightness(250%);
}

.text2-1 {
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #ffc25c;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  margin-top: 7vh;
  text-align: right;
}

.bar1-2 {
  width: 60px;
  height: 4px;
  background: #ffc25c;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
  margin: auto 0 30px auto;
}

.text2-2 {
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 1vh;
  text-align: right;
}

.item-2-1 {
  margin: 8vh auto 8vh auto;
}

.heading-2 {
  font-size: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #ffc25c;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
}

.design-tools,
.develop-tools {
  list-style: none;
  text-align: center;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.design-tools img,
.develop-tools img {
  width: 2.5vw;
  min-width: 25px;
}

.design-tools img:hover,
.develop-tools img:hover {
  filter: brightness(250%);
}

.design-tools li,
.develop-tools li {
  padding-bottom: 6vh;
}

.item-2-3,
.item-2-4 {
  text-align: center;
}

.design-v,
.develop-v {
  width: 20vw;
  vertical-align: middle;
  text-align: center;
}

.design-heading,
.develop-heading {
  padding-top: 8vh;
  font-size: 1.8vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  color: #ffc25c;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.2vh;
  text-align: center;
}

.design-text,
.develop-text {
  font-size: 1vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 1vh;
  text-align: center;
}

.vertical-bar-1 {
  float: left;
  background-color: #ffc25c;
  height: 22.3vh;
  width: 5px;
  margin-right: 2vw;
}

.vertical-bar-2 {
  float: left;
  background-color: #ffc25c;
  height: 12.5vh;
  width: 5px;
  margin-right: 2vw;
}

.about-heading {
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  color: #ffc25c;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  padding-bottom: 2vh;
}

.organization {
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  padding-bottom: 1vh;
}

.profile,
.duration,
.description {
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
}
.duration {
  padding-bottom: 1vh;
  padding-top: 0.1vh;
  font-size: 1.05vw;
}

.description {
  font-size: 1.05vw;
}

.heading-3 {
  font-size: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #ffc25c;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  margin-top: 7vh;
}

.item-3-4 img,
.item-3-5 img {
  width: 10vw;
}

.item-3-4 img:hover,
.item-3-5 img:hover {
  filter: brightness(300%);
}

.heading-4 {
  font-size: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #ffc25c;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  margin-top: 7vh;
}

.form-label {
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
}

#name {
  height: 6vh;
  width: 31vw;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 30px;
}

#message {
  height: 14vh;
  width: 31vw;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 30px;
}

input {
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: #3b3b3b;
  border: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.submit-button {
  background-color: #3b3b3b;
  border-radius: 20px;
  margin-left: 21vw;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  height: 6vh;
  width: 12vw;
  text-decoration: none;
}
.submit-button:hover {
  background-color: #5c5c5c;
}
.submit-button:active {
  position: relative;
  top: 1px;
}
.form {
  margin-top: 5vh;
  height: 100%;
}

.call,
.mail {
  display: flex;
}

.item-4-3 {
  margin: auto 0;
}

.item-4-4 {
  margin: auto 0 auto 45px;
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px;
  grid-gap: 5px;
}

.item-4-4 img {
  width: 30px;
}

.item-4-4 img:hover {
  filter: drop-shadow(0px 0px 1px #666666) brightness(250%);
}

.contact-info {
  font-size: 1.2vw;
  font-family: Poppins;
  color: #ffc25c;
  margin-left: 10px;
  text-shadow: 15px 4px 20px rgba(0, 0, 0, 0.25);
}

::placeholder {
  font-weight: 100;
  color: #525252;
}

a {
  text-decoration: none;
}

@media (max-width: 700px) {
}
